* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
small{ 
    display: none;
}
body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background:linear-gradient( red,yellow,green);
}

.container {
    max-width: 900px; /* Ajustado para acomodar tres columnas */
    width: 100%;
    padding: 25px 30px;
    background-color: #ffffff;
    border-radius: 5px;
}

.container .title {
    text-align: center; /* Centra el título */
    font-size: 30px;
    font-weight: 500;
}

.container form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px 12px 0;
}

form .form-group {
    margin-bottom: 20px;
    width: calc(100% / 3 - 20px); /* Ajustado para tres columnas */
}

form span {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.form-group input {
    height: 40px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.form-group input:focus,
.form-group input:valid {
    border-color: beige;
}

/* Estilos para los botones de radio */
.form-group input[type="radio"] {
    width: 15px;  /* Ajusta el tamaño del botón de radio */
    height: 15px; /* Ajusta el tamaño del botón de radio */
    transform: scale(0.8); /* Escala el tamaño del botón de radio */
    margin-right: 5px; /* Espacio entre el botón y el texto */
}

form .button {
    width: 100%;
    height: 40px;
    margin: 40px 0;
    display: flex; /* Muestra el botón */
    justify-content: center; /* Centra el botón */
}

form .button input {
    width: 100%; /* Ajusta el ancho del botón */
    height: 100%;
    outline: none;
    cursor: pointer;
    background: linear-gradient(130deg, black);
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    padding: 0 20px; /* Agrega un poco de relleno a los lados */
}

form .button input:hover {
    background: linear-gradient(130deg, black, blue);
}

.was-validate small {
    display: block;
    color: red;
}

@media(max-width: 800px) {
    .container {
        max-width: 100%;
    }

    form .form-group {
        margin-bottom: 15px;
        width: calc(100% / 3 - 20px); /* Ajuste para dos columnas en pantallas más pequeñas */
    }

    .container form {
        max-height: 400px;
        overflow-y: scroll;
    }

    .container form::-webkit-scrollbar {
        width: 100;
    }

    form .button {
        margin: 20px;
    }
}

@media(max-width: 584px) {
    form .form-group {
        width: 100%; /* Ajuste para una columna en pantallas muy pequeñas */
    }
}
